*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: serif;
}
.pubnews{
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: center;
     
}
.pubtitle{
    font-size: large;
    text-transform: uppercase;
    font-weight: lighter;
    color: seagreen;
    letter-spacing: .2em;
    margin-bottom: .3em;
    margin-bottom: 1em;
}
.mybody{
   margin-left: 20%;
   margin-right: 20%;
   align-items: center;
   justify-content: center;
}
.pubimg{
    margin-bottom: 2em;
    
}
.img{
    height: 70%;
    width: 70%;
}
.pubrelease{
    margin-bottom: 1.2em;

}
.pubprice{
    margin-bottom: 1.2em;

}
