*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: serif;
}
.pubnews{
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: center;
}
.pubtitle{
    font-size: large;
    text-transform: uppercase;
    font-weight: lighter;
    color: seagreen;
    letter-spacing: .2em;
    margin-bottom: .3em;
}
.mybody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pubimg{
    margin-bottom: .2em;
    
}
.pubrelease{
    margin-bottom: .2em;

}
.pubprice{
    margin-bottom: .2em;

}