*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: serif;
    background-color: #e0e0e0;
}
.mydate{
    align-items: center;
    justify-content: center;
    padding: .2em;  
}
.Rtime{
    margin-top: 5%;
    margin-left: 25%;
   margin-right: 25%;
   align-items: center;
   justify-content: center;

}
.daten{
    font-size: large;
    text-transform: uppercase;
    font-weight: lighter;
    color: #212121;
    letter-spacing: .2em; 
}
@media screen and (max-width: 600px) {
    .Rtime{
        margin-top: 5%;
        margin-left: 20%;
       margin-right: 20%;
       align-items: center;
       justify-content: center;
    
    }
    .daten{
        font-size: large;
        text-transform: uppercase;
        font-weight: lighter;
        color: #212121;
        letter-spacing: .1em; 
    }
    
}
@media screen and (max-width: 300px) {
    
}