*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: serif;
    background-color: #e0e0e0;
}
.myform{
    display: flex;
    align-items: center;
    justify-content: center;
}