*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: serif;
    background-color: #e0e0e0;
}
.coolform{
    align-items: center;
    justify-content: center;
    padding: .2em;  
}
.formdetail{
    display: flex;
    margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: center;

}
.myform{
    display: flex;
    margin-left: 30%;
    padding: .3em;
    margin-right: 30%;
    align-items: center;
    justify-content: center;
    

}
.input{
    margin: .5em;
}
.btn{
    margin: .5em;
}
.myinput{
    padding: .5em;
    border: 1px solid #00695c;
    border-radius: 3px;
    display: flex;
    justify-content: stretch;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.mybtn{
    padding: .5em;
    border: 1px solid #00695c;
    border-radius: 3px;
    display: flex;
    justify-content: stretch;
    width: 100%;
    background-color: #00695c;
    color: white;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .coolform{
        padding: .15em;
    }
    .formdetail{
        display: flex;
        margin-top: 12%;
        margin-left: 20%;
        margin-right: 20%;
        align-items: center;
        justify-content: center;
    
    }
    .myform{
        display: flex;
        margin-left: 35%;
        padding: .3em;
        margin-right: 35%;
        align-items: center;
        justify-content: center;
        
    
    }
    .mybtn{
        padding: .4em;
        border: 1px solid #00695c;
        border-radius: 3px;
        display: flex;
        justify-content: stretch;
        width: 100%;
        background-color: #00695c;
        color: white;
        align-items: center;
        justify-content: center;
    }
    
}
@media screen and (max-width: 300px) {
    
}
